# Mac-related files
.DS_Store

# File associated with compilation/linking
src/*.o
src/*.exe
src/*.csv

# Python testing files
__pycache__

# Eclipse-related files
.project
.cproject
.settings
.pydevproject

# temp copies
*~

# latex unwanted files
documentation/*copy*
documentation/*synctex*
documentation/*.log
documentation/*.aux
documentation/*.key
documentation/*.pdf
documentation/*.dvi
documentation/*.blg
documentation/*.bbl
documentation/*.out
documentation/*.toc

# R-related files
.Rhistory

# performance related
performance/*.trace
performance/*.dtps