importFrom("methods", "as")
importFrom("methods", "callNextMethod")
importFrom("methods", "is")
importFrom("methods", "new")
importFrom("methods", "setClass")
importFrom("methods", "slot")
importFrom("R6", "R6Class")

# R6 Classes
export("Parameters")
export("Model")
export("Network")
export("Environment")
export("Agent")
export("Simulation")
export("COVID19IBM")
export("VaccineSchedule")

# Enums
export("AgeGroupEnum")
export("SAFE_UPDATE_PARAMS")
export("NETWORK_CONSTRUCTIONS")
export("VACCINE_TYPES")
export("VACCINE_STATUS")

useDynLib(OpenABMCovid19, .registration = TRUE)
