importFrom("methods", "as")
importFrom("methods", "callNextMethod")
importFrom("methods", "is")
importFrom("methods", "new")
importFrom("methods", "setClass")
importFrom("methods", "slot")
importFrom("R6", "R6Class")

export("Parameters")

useDynLib(OpenABMCovid19, .registration = TRUE)
