click==8.1.6
cycler==0.11.0
dataclasses==0.6
kiwisolver==1.4.4
matplotlib==3.2.2
numpy==1.24.4
pandas==2.0.3
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
six==1.16.0
tqdm==4.65.0
tzdata==2023.3
